    <p class="button-list">
      {% if month %}
      <a class="btn btn-outline-secondary btn-sm" href="/photos/{{prev-month-category}}">&lt; Prev month</a>
      {% endif %}

      {% if day %}
      <a class="btn btn-outline-secondary btn-sm" href="/photos/{{year}}/{{month}}">All of month</a>
      {% endif %}

      {% for c,n in categories-and-names %}
      <a class="btn btn-outline-primary btn-sm" href="/photos/{{category}}/{{c}}">{{n}}</a>
      {% endfor %}
      
      {% if month %}
      <a class="btn btn-outline-secondary btn-sm" href="/photos/{{next-month-category}}">Next month &gt;</a>
      {% endif %}      
     </p>
