<div class="row">
  {% for p in photos %}
  <div class="col-sm-3">
    <div class="thumbnail">
      <a href="/{{p.path}}">
        <img src="/{{p.path|thumb}}" alt="{{p.name}}" class="img-rounded img-thumbnail"/>
      </a>
      <div class="caption">
        {% for word in p.keywords %}
        <a href="/photos/_search?word={{word}}"
           class="btn btn-outline-secondary btn-sm">{{word}}</a>
        {% endfor %}
        {% if not category %}
        <a href="/photos/{{p.category}}"
           class="btn btn-outline-primary btn-sm">{{p.category}}</a>
        {% endif %}
        <a href="/photos/_edit/{{p.path}}{% if back %}?back={{back}}{% endif %}"
           class="btn btn-warning btn-sm">edit</a>
        {% if p.selections %}        
        <button data="/photos/_select/_drop/{{p.path}}"
                class="selection btn btn-warning btn-sm">&#9734;</button>
        {% else %}
        <button data="/photos/_select/{{p.path}}"
                class="selection btn btn-outline-warning btn-sm">&#9734;</button>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
