<div class="row">
  {% for p in photos|take:200 %}
  <div class="col-sm-3">
    <div class="thumbnail">
      <a href="/photo/{{p.path}}{% if back %}?back={{back|urlescape}}{% endif %}">
        <img data-src="/{{p.path|thumb}}" alt="{{p.name}}"
	     class="lazyload img-rounded img-thumbnail
		    {% for k in p.keywords %}
		      {% if k = ".hidden" %}hidden-photo{% endif %}
	            {% endfor %}" />
      </a>
      <div class="caption">
        {% for word in p.keywords %}
        <a href="/photos/_search?word={{word}}"
           class="btn btn-outline-secondary btn-sm">{{word}}</a>
        {% endfor %}
        {% if not category %}
        <a href="/photos/{{p.category}}"
           class="btn btn-outline-primary btn-sm">{{p.category}}</a>
        {% endif %}
        <a href="/photos/_edit/{{p.path}}{% if back %}?back={{back|urlescape}}{% endif %}"
           class="btn btn-warning btn-sm">edit</a>
        
        <button data="/photos/_select/{{p.path}}"
                {% if p.selections|length > 0 %}        
                class="selection btn btn-warning btn-sm"
                {% else %}
                class="selection btn btn-outline-warning btn-sm"
                {% endif %}
                >&#9734;</button>
      </div>
    </div>
  </div>
  {% endfor %}

  {% if photos|length > 200 %}
  <p>
    There are more photos, <a href="#top">narrow your search</a> to see them by
    picking some more keywords.
  </p>
  {% endif %}
</div>
