<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome to your photo-bank {% endblock %} - photo bank</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" %}
    {% style "/css/screen.css?6" %}
  </head>
  <body>
    {% block body %}
    <!-- navbar -->
          <nav class="navbar navbar-dark bg-primary navbar-expand-md" role="navigation">
          <button class="navbar-toggler hidden-sm-up"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapsing-navbar">
              &#9776;
          </button>
          <a class="navbar-brand" href="{{servlet-context}}/">photo-bank</a>
          <div class="collapse navbar-collapse" id="collapsing-navbar">

            <ul class="nav navbar-nav mr-auto">
                  <li class="nav-item">
                      <a href="{{servlet-context}}/"
                         class="nav-link{% ifequal page "home.html" %} active{%endifequal%}">
                      home
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="{{servlet-context}}/photos/_keywords"
                         class="nav-link{% ifequal page "keywords.html" %} active{%endifequal%}">
                      keywords
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="{{servlet-context}}/photos/_process"
                         class="nav-link{% ifequal page "process.html" %} active{%endifequal%}">
                      import
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="{{servlet-context}}/photos/_select/"
                         class="nav-link{% ifequal page "selection.html" %} active{%endifequal%}">
                      selection
                      </a>
                  </li>
                  
                  <li class="nav-item">
                      <a href="{{servlet-context}}/about"
                         class="nav-link{% ifequal page "about.html" %} active{%endifequal%}">
                      about
                      </a>
                  </li>
	    </ul>
            <ul class="nav navbar-nav">                  
                  <li>
                    <form method="GET" action="/photos/_search" class="form-inline">
                      <input type="search" name="word" placeholder="Search" value="{{word}}" class="form-control"/>
                      <button type="submit" class="btn">Go</button>
                    </form>
                  </li>
              </ul>
          </div>
      </nav>

      <div class="container">
        {% block top-level-categories %}
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-sm-12">
            Year:
            {% for c in top-level-categories %}
            <a href="/photos/{{c}}"
               class="btn btn-sm
               {% ifequal c year %}btn-primary{% else %}btn-outline-primary{% endifequal %}"
               >{{c}}
            </a>
            {% endfor %}
          </div>
        </div>
        {% endblock %}
        {% block content %}
        {% endblock %}
      </div>

      {% endblock %} 
    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    <script type="text/javascript">
      $("button.selection").click(function(button) {
        const photo_url = $(this).attr("data");
        const this_button = this;
        $(this).blur();
        $.post({
          headers: { 'x-csrf-token': '{{csrf-token}}' },
          url: photo_url,
          success: function(data) {
            if (data) {
              $(this_button).removeClass('btn-outline-warning');
              $(this_button).addClass('btn-warning');
            } else {
              $(this_button).removeClass('btn-warning');
              $(this_button).addClass('btn-outline-warning');
            }
          },
          error: function(o, s) { alert("Oops: " + s); }
        });
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
    <script type="text/javascript">
      lazyload();
    </script>
    
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
