{% extends "base.html" %}

{% block title %}{{category-name}}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>{{ category-name }}</h1>

    <ul>
    {% for c,n in categories-and-names %}
      <li>
        <a href="/photos/{{category}}/{{c}}">{{n}}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

{% include "_photos.html" %}

{% if month-photos %}
<div class="row">
  <div class="col-sm-12">
    <h2>In this month...</h2>
  </div>
</div>

{% for cat, photos in month-photos %}
<div class="row">
  <div class="col-sm-12">
    <h2>{{cat}}</h2>
  </div>
</div>

{% include "_photos.html" %}

{% endfor %}
{% endif %}

{% endblock %}
