{% extends "base.html" %}

{% block title %}{{category-name}}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1>{{ category-name }}:</h1>

    <p>
      {% if month %}
      <a class="btn btn-outline-secondary btn-sm" href="/photos/{{prev-month-category}}">&lt; Prev month</a>
      {% endif %}      

      {% for c,n in categories-and-names %}
      <a class="btn btn-outline-primary btn-sm" href="/photos/{{category}}/{{c}}">{{n}}</a>
      {% endfor %}
      
      {% if month %}
      <a class="btn btn-outline-secondary btn-sm" href="/photos/{{next-month-category}}">Next month &gt;</a>
      {% endif %}      
     </p>
  </div>
</div>

{% include "_photos.html" %}

{% if month-photos|not-empty %}

{% for cat, photos in month-photos %}
<div class="row">
  <div class="col-sm-12">
    <h2>On {{cat}}</h2>
  </div>
</div>

{% include "_photos.html" %}

{% endfor %}
{% endif %}

{% endblock %}
