{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-12">
    <ul>
      {% for c in top-level-categories %}
      <li>
        <a href="/photos/{{c}}">{{c}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>{{ category-name }}</h1>

    <ul>
    {% for c in categories %}
      <li>
        <a href="/photos/{{category}}/{{c}}">{{c}}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {% for p in photos %}
    <div class="thumbnail">
      <a href="/{{p}}">
        <img src="/{{p|thumb}}" alt="{{p}}" class="img-rounded img-thumbnail"/>
      </a>
      <div class="caption">
        {{p}}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
