{% extends "base.html" %}

{% block title %}Edit {{photo.name}}{% endblock %}

{% block top-level-categories %}
{% endblock %}

{% block content %}
<div class="row" style="padding-bottom: 1em">
  <div class="col-sm-12">
    <h1>Edit {{photo.name}}</h1>
    {% if keywords %}
    <div class="success">
      <mark>Your new changes were saved.</mark>
    </div>
    {% endif %}
    {% if back %}
    <p><a href="{{back}}">Back to photos</a></p>
    {% endif %}
  </div>
</div>

<form method="POST">
  {% csrf-field %}

  <div class="row">
    <div class="col-sm-5">
      <div class="thumbnail">
	<img src="/{{photo.path|thumb}}" alt="{{photo.name}}" class="img-rounded img-thumbnail"/>
      </div>
      <div class="info">
	{% if photo.datetime %}
	{{photo.datetime|date:mediumDateTime}}
	{% else %}
	{{photo.category}}
	{% endif %}
      </div>
    </div>
  
    <div class="col-sm-2">
      Keywords:<br/>
      <textarea name="keywords" rows="10" cols="18" autofocus>{% for word in photo.keywords %}{{word}}
{% endfor %}</textarea>
    </div>
    
    <div class="col-sm-5">
      Notes:<br/>
      <textarea name="notes" rows="5" style="width: 100%;">{{photo.notes}}</textarea>
      <br/>
      
      <input type="hidden" name="back" value="{{back}}"/>
      <input type="submit" name="Save" value="Save"/>
    </div>
  </div>
</form>

{% endblock %}
