{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h2>Photos about: {{random-keyword}}</h2>
  </div>
</div>

{% with photos=keyword-photos %}
{% include "_photos.html" %}
{% endwith %}
  
<div class="row">
  <div class="col-sm-12">
    <h2>Popular keywords:</h2>
    {% for word,num in pop-keywords %}
    <a href="/photos/_search?word={{word}}"
       class="btn btn-outline-secondary btn-sm"
       style="margin: 0.2em 0.2em">{{word}} x {{num}}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
