{% extends "base.html" %}

{% block title %}{{photo.name}}{% endblock %}

{% block body %}
<div id="full-size-photo"
     style="background-image: url(&quot;/{{photo.path}}&quot;);"
     data-target="#full-size-photo-info"
     data-toggle="collapse">

  <div id="full-size-photo-info" class="collapse show">
    <h1>{{photo.name}}</h1>
    <p id="datetime">{{photo.datetime|date:mediumDateTime}}</p>

    {% if back %}
    <a href="{{back}}" id="back">Back to photos</a>
    {% endif %}

    {% for word in photo.keywords %}
    <a href="/photos/_search?word={{word}}"
       class="btn btn-outline-secondary btn-sm">{{word}}</a>
    {% endfor %}

    <a href="/photos/_edit/{{photo.path}}{% if back %}?back={{back}}{% endif %}"
       class="btn btn-warning btn-sm">edit</a>    

    <button data="/photos/_select/{{photo.path}}"
            {% if p.selections|length > 0 %}        
      class="selection btn btn-warning btn-sm"
      {% else %}
      class="selection btn btn-outline-warning btn-sm"
      {% endif %}
      >&#9734;</button>    

    <p id="download-for">Download for:</p>
    <a href="/{{photo.path}}?resize=1000" class="btn btn-outline-info btn-sm"
       download="{{photo.name}}" >Email</a>
    <a href="/{{photo.path}}" class="btn btn-outline-info btn-sm"
       download="{{photo.name}}" >Print</a>
  </div>

  <div id="next-photo">
    <a href="/photo/_next/{{photo.path}}?from={{back}}" class="btn btn-outline-secondary btn-sm">&gt;</a>
  </div>

  <div id="prev-photo">
    <a href="/photo/_prev/{{photo.path}}?from={{back}}" class="btn btn-outline-secondary btn-sm">&lt;</a>
  </div>

</div>
{% endblock %}
