{% extends "base.html" %}

{% block top-level-categories %}
{% endblock %}

{% block content %}
<div class="row" style="padding-bottom: 1em">
  <div class="col-sm-12">
    <h1>{{photo.name}}</h1>
    {% if back %}
    <p><a href="{{back}}">Back to photos</a></p>
    {% endif %}
    {% for word in photo.keywords %}
    <a href="/photos/_search?word={{word}}"
       class="btn btn-outline-secondary btn-sm">{{word}}</a>
    {% endfor %}
    <a href="/{{photo.path}}?resize=1000" class="btn btn-outline-primary btn-sm"
       download="{{photo.name}}" >Download for email</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <img src="/{{photo.path}}" alt="{{photo.name}}" class="img-rounded img-thumbnail"/>
    </div>
  </div>
</div>

{% endblock %}
