{% extends "base.html" %}

{% block title %}{{photo.name}}{% endblock %}

{% block body %}
<div id="full-size-photo"
     style="background-image: url(&quot;/{{photo.path}}&quot;);">

  <div id="full-size-photo-info">
    <h1>{{photo.name}}</h1>

    {% if back %}
    <a href="{{back}}" id="back">Back to photos</a>
    {% endif %}

    {% for word in photo.keywords %}
    <a href="/photos/_search?word={{word}}"
       class="btn btn-outline-secondary btn-sm">{{word}}</a>
    {% endfor %}

    <button data="/photos/_select/{{photo.path}}"
            {% if p.selections|length > 0 %}        
      class="selection btn btn-warning btn-sm"
      {% else %}
      class="selection btn btn-outline-warning btn-sm"
      {% endif %}
      >&#9734;</button>    

    <a href="/{{photo.path}}?resize=1000" class="btn btn-outline-primary btn-sm"
       download="{{photo.name}}" >Download for email</a>
  </div>

  <div id="next-photo">
    <a href="/photo/_next/{{photo.path}}?from={{back}}" class="btn btn-outline-secondary btn-sm">&gt;</a>
  </div>

  <div id="prev-photo">
    <a href="/photo/_prev/{{photo.path}}?from={{back}}" class="btn btn-outline-secondary btn-sm">&lt;</a>
  </div>

</div>
{% endblock %}
