{% extends "base.html" %}

{% block top-level-categories %}
{% endblock %}

{% block content %}
<div class="row" style="padding-bottom: 1em">
  <div class="col-sm-12">
    <h1>Process Photos for Import</h1>
  </div>
</div>

<div class="row" style="padding-bottom: 1em">
  <div class="col-sm-3">
    <p><b>{{num-photos}} photos:</b></p>
    <ul style="padding-left: 0; list-style-type: none;">
      {% for p in all-photos-names %}
      <li><a href="/photos/_process/{{p}}">{{p}}</a></li>
      {% endfor %}
    </ul>
  </div>  

{% if photo %}

  <div class="col-sm-9">
    <h2>Add keywords to {{name}}</h2>
    <div class="thumbnail">
      <img src="/{{photo}}" alt="{{name}}" class="img-rounded img-thumbnail"/>
    </div>
  </div>

  <div id="keyword-form">
    <form method="POST" action="/photos/_process/{{name}}">
      {% csrf-field %}
      Add keywords:<br/>
      <textarea name="keywords" rows="5" autofocus>{% for word in keywords %}{{word}}
{% endfor %}</textarea>
      <br/>

      <input type="hidden" name="photo" value="{{photo}}"/>
      <input type="submit" name="Next" value="Next &gt"/>
    </form>
  </div>

{% else %}

  {% if num-photos > 0 %}

  <div class="col-sm-9">
    <h2>All {{num-photos}} photos done :)</h2>

    <p style="padding-top: 1em;">You can add or change keywords by
      clicking a link on the left, or... </p>
    <form method="POST" action="/photos/_processing-done">
      {% csrf-field %}
      <input type="submit" class="btn btn-primary" name="done"
             value="Start photo import" />
    </form>
  </div>

  {% else %}

    <div class="col-sm-9">
      <h2>No photos left to process :)</h2>
    </div>

  {% endif %}

{% endif %}

</div>
    
{% endblock %}
