{% extends "base.html" %}

{% block top-level-categories %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <ul>
      {% for c in top-level-categories %}
      <li>
        <a href="/photos/{{c}}">{{c}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>Search results for '{{word}}'</h1>
  </div>
</div>

<div class="row">
  {% for p in photos %}
  <div class="col-sm-3">
    <div class="thumbnail">
      <a href="/{{p.path}}">
        <img src="/{{p.path|thumb}}" alt="{{p.name}}" class="img-rounded img-thumbnail"/>
      </a>
      <div class="caption">
        {{p.name}}<br/>
        {% for word in p.keywords %}
        <a href="/photos/_search?word={{word}}"
           class="btn btn-outline-secondary btn-sm"
           style="margin: 0.2em 0.2em">{{word}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
