{% extends "base.html" %}

{% block title %}{{word}}{% endblock %}

{% block top-level-categories %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <ul>
      {% for c in top-level-categories %}
      <li>
        <a href="/photos/{{c}}">{{c}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>Search results for '{{word}}'</h1>

    <p>Pick another keyword to narrow search:
      {% for w2 in keywords-across-photos %}
      <a href="/photos/_search?word={{word}}+{{w2}}"
         class="btn btn-outline-secondary btn-sm">{{w2}}</a>
      {% endfor %}
    </p>
  </div>
</div>

{% include "_photos.html" %}
 
{% endblock %}
