{% extends "base.html" %}

{% block title %}{{word}}{% endblock %}

{% block top-level-categories %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <ul>
      {% for c in top-level-categories %}
      <li>
        <a href="/photos/{{c}}">{{c}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>Search results for '{{word}}'</h1>

    <p class="button-list">Narrow your search:
      {% for w2 in keywords-across-photos|take:20 %}
      <a href="/photos/_search?word={{word}}+{{w2}}"
         class="btn btn-outline-secondary btn-sm">{{w2}}</a>
      {% endfor %}
      
      {% if keywords-across-photos|length > 20 %}
      <a class="btn btn-sm btn-secondary" data-toggle="collapse" data-target="#more-keywords">More...</a>

      <div id="more-keywords" class="collapse button-list">
        {% for w2 in keywords-across-photos|drop:20 %}
        <a href="/photos/_search?word={{word}}+{{w2}}"
           class="btn btn-outline-secondary btn-sm">{{w2}}</a>
        {% endfor %}
        <hr>
      </div>
      {% endif %}
    </p>

    <p class="button-list">Choose a year:
      <a href="/photos/_search?word={{word}}"
         class="btn btn-outline-secondary btn-sm">All</a>
      {% for y in years-across-photos %}
      <a href="/photos/_search?word={{word}}&amp;year={{y}}"
         class="btn btn-outline-secondary btn-sm">{{y}}</a>
      {% endfor %}
      </p>
    
  </div>
</div>

{% include "_photos.html" %}
 
{% endblock %}
