{% extends "base.html" %}

{% block title %}Selected Photos{% endblock %}

{% block top-level-categories %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <ul>
      {% for c in top-level-categories %}
      <li>
        <a href="/photos/{{c}}">{{c}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>Selected Photos</h1>
    {% if photos|not-empty %}
    <p>Dowload the full sized photos in your selection as a <a href="_download">zip file</a>.</p>
    {% else %}
    You have not selected any photos yet. Choose some using the
    <button data="#"
            class="btn btn-outline-warning btn-sm"
            >&#9734;</button> icon next to each photo.
    {% endif %}
  </div>
</div>

{% include "_photos.html" %}
 
{% endblock %}

