html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

div#year-nav a {
    margin-bottom: 0.4rem;
}

div.thumbnail div.caption a.btn, .button-list a.btn {
    margin-bottom: 0.2rem;
}

div.thumbnail {
    margin-bottom: 15px;
}

p#date-created {
    display: block;
    position: absolute;
    right: 1.3em;
    top: 0.3em;
    font-size: 80%;    
}

p.no-date-created {
    background-color: red;
    color: white;
    padding: 0 0.5em;
}

div#keyword-form {
    position: fixed;
    top: 16em;
    right: 7em;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 9px 15px;
}

div#duplicate-form {
    position: fixed;
    top: 18em;
    left: 6em;
    background-color: rgba(255, 0, 0, 0.75);
    padding: 9px 15px;
    color: white;
}

div#full-size-photo {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(0, 0, 0);
}

div#full-size-photo-info {
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-color: rgba(0, 0, 0, 0.5);    
    padding: 9px 15px;
}

div#full-size-photo-info h1 {
    color: white;
    font-size: 100%;
    padding: 0px;
    padding-bottom: 9px;
}

div#full-size-photo-info p#datetime {
    color: #ccc;
    font-size: 80%;
    padding: 0 0 0.5em 0;
    margin: 0;
    position: relative;
    top: -1.3em;
}

div#full-size-photo-info p#notes {
    color: #ccc;
    font-size: 80%;
    padding: 0px;
    margin: 0;
    position: relative;
    top: -1em;
    max-width: 30em; 
}

div#full-size-photo-info p#artist {
    color: #ccc;
    font-size: 80%;
    padding: 0px;
    margin: 0;
    position: absolute;
    top: 2.24em;
    right: 1.3em;
}

div.side-button {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 7px 12px;
}

div#next-photo {
    right: 0;
    top: 10em;
}

div#prev-photo {
    left: 0;
    top: 10em;
}

div#photo-info {
    right: 0;
    bottom: 5em;
}

div#back-to-photos {
    left: 0;
    top: 2em;
}

p#download-for {
    position: absolute;
    right: 1em;
    bottom: 1.7em;
    color: #ccc;
    font-size: 90%;
}

a#location {
    position: absolute;
    top: 0.5em;
    right: 1.8em;
    font-size: 70%;
}

div.button-list {
    width: 100%;
    margin-bottom: 1rem;
}

div.button-list .rhs-button {
    float: right;
}

img.hidden-photo {    
    -webkit-filter: blur(9px);
    filter: blur(9px);
}

